<div class="container">
<div class="row">
  <div class="col-xs-3">
    <%= render 'books/side', book: @book, user: @user %>
  </div>
    <% if flash[:notice] %>
      <div class="flash">
         <%= flash[:notice] %>
      </div>
   　<% end %>
  <div class="col-xs-9">
     <h2>Books</h2>
     <table>
     　<tr>
        <thead>
            <th>image</th>
            <th>name</th>
            <th>opinion</th>
        </thead>
      </tr>
      <tr>
        <% @books.each do |book| %>
         <td>
         <%= link_to user_path(@user.id), class:   "user_#{@user.id}" do %>
            <%= attachment_image_tag book.user, :profile_image, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size: "60x60" %>
            <% end %>
         </td>
         <td>
            <%= link_to book.title, book_path(book) %>
         </td>
         <td>
            <%= book.body %>
         </td>
         </tr>
        <% end %>
     　
     </table>
  </div>



</div>
</div>